services:
  nginx:
    image: nginx
    build: ./requirements/nginx
    container_name: nginx
    ports:
      - 443:443
    volumes:
      - wordpress_volume:${WP_FOLDER}
    networks:
      - inception
    depends_on:
      - wordpress
      - mariadb
    restart: always

  wordpress:
    image: wordpress
    build: ./requirements/wordpress
    container_name: wordpress
    volumes:
      - wordpress_volume:${WP_FOLDER}
    networks:
      - inception
    depends_on:
      - mariadb
    env_file:
      - .env
    restart: always

  mariadb:
    image: mariadb
    build: ./requirements/mariadb
    container_name: mariadb
    volumes:
      - mariadb_volume:${MARIADB_FOLDER}
    networks:
      - inception
    env_file:
      - .env
    restart: always

volumes:
  mariadb_volume:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/akovtune/data/mariadb
  wordpress_volume:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/akovtune/data/wordpress

networks:
  inception:
